# Python cache
__pycache__/
*.py[cod]

# Virtual Environment
venv/

# Dataset (NON carico le immagini su GitHub)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Pesi del modello (pesanti)
models/*.pt

# Altri file di sistema
.DS_Store
.idea/
.vscode/
