# Computer Vision & Augmentation
numpy
pillow
opencv-python
matplotlib
albumentations

# Deep Learning
torch
torchvision

# OpenMMLab (SegFormer-B1)
mmengine==0.10.3
mmcv-lite==2.1.0
mmsegmentation==1.2.2

# Compatibility fix
setuptools<70.0.0
